{% extends 'home.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Welcome to the Library Management System! Our goal is to provide easy access to a variety of books for all readers. Whether you're a student or a professional, we've got you covered.</p>
    
    <h1>Our Mission</h1>
    <p>Our mission is to make knowledge accessible by creating a library that serves the needs of the community.We make sure that you know what books are available in your library. We also help to keep records safe about your borrowings, the books available in the library and lot more.</p>

    <h1>Our Team</h1>
    <p>Everyone who helps to run this library is a part of this library. Reader or librarinan everyone is a part of our it. </p>

    <h1>Location</h1>
    <p>The physical location of this library is:</p>
    <address style="text-align: center;">
        123 ABC Street, <br>
        XYZ town <br>
        Phone: +91 123456789 <br>
        Email: info@library.com
    </address>
{% endblock %}
