{% extends 'home.html' %}

{% block title %}Available Books{% endblock %}

{% block content %}
    <h1>Available Books</h1>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.author.name }} <br>
                ISBN: {{ book.isbn }} <br>
                Published: {{ book.published_date }} <br>
                Copies Available: {{ book.available_copies }}
            </li>
            <hr>
        {% empty %}
            <p>No books available at the moment.</p>
        {% endfor %}
    </ul>
{% endblock %}
